/* Información de ODS */
.ods-info {
    text-align: center;
    margin: 20px 10px;
    font-size: 1.3em;
    color: #444;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

/* Mapa */
#map {
    margin: 0 auto;
    width: 80%;
    height: 75vh;
    border-top: 3px solid #4CAF50;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
}

/* Información de País */
.country-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
}

.country-info a {
    color: #FFEB3B;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.country-info .country-name {
    font-weight: bold;
}

.country-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

/* Carrusel de ODS */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 40px 0;
}

.ods-list {
    display: flex;
    animation: scroll 20s linear infinite;
    padding: 10px 0;
    gap: 20px;
    /* Espacio entre las imágenes */
}


.slide img {
    width: auto;
    height: 200px;
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(0.9);     /* Opción para hacer que la imagen se reduzca en hover */
}


/* Controles del Carrusel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #333;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .slide {
        width: 170px;
        height: 200px;
        padding: 20px;
    }

    .slide img {
        width: 80px;
        height: 80px;
    }

    .ods-info {
        font-size: 1.2em;
    }
}

/* Botón de Reset del Mapa */
#reset-map {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    padding: 15px 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#reset-map:hover {
    background-color: #1b18c2;
}